{% extends "base.html" %}

{% block title %}Tablero{% endblock %}

{% block content %}
<h1 class="app__title">Dashboard</h1>
<div class="row">
    <div class="col col__3">
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">Peticiones</h2>
            </div>
            <div class="card__body">
                <div class="card__icon">
                    <i class="fas fa-server"></i>
                </div>
                <p class="card__number">756878</p>
            </div>
        </div>
    </div>
</div>

<!-- Registers -->
<div class="row" style="margin-top: 24px;">
    <div class="col col__7">
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">Registros</h2>
            </div>
            <div class="card__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Scraper</th>
                            <th>Hora</th>
                            <th>Cantidad de elementos</th>
                            <th>Peticiones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col col__5">
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">Scrapers</h2>
            </div>
            <div class="card__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Scraper</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
