{% extends "base.html" %}

{% block title %}Tablero{% endblock %}

{% block content %}
<!-- Registers -->
<h1 class="app__title">Términos de servcio</h1>
<div class="row">
    <div class="col col__12">
        <div class="card">
            <p class="terms">
                Duis finibus sagittis nisi ut semper. Donec placerat ut ipsum nec mollis. Vestibulum eget sem ultricies, eleifend mauris a, maximus nisl. Nullam elementum laoreet urna a maximus. Mauris sit amet varius dolor, a hendrerit eros. In iaculis ut massa id consectetur. Nunc dictum, odio et pharetra ultricies, turpis purus ultrices lorem, eget dignissim eros enim id quam. Donec ac vestibulum lorem, aliquet sagittis felis. Nulla sapien erat, efficitur faucibus vulputate sit amet, mattis sit amet magna. Nulla facilisi. Nam sollicitudin sapien eu congue dignissim. Phasellus in luctus ante.
                <br>
                Proin ornare orci vitae venenatis feugiat. Nam tempus sem nec elit rutrum consequat. Integer mi nisl, fermentum vel felis ac, pulvinar semper nibh. Curabitur purus neque, vestibulum a tortor non, rutrum pharetra ipsum. Curabitur lobortis, ante et pellentesque tempor, odio mauris convallis mi, elementum volutpat leo dui eleifend lacus. Morbi lacus nibh, tincidunt at pulvinar sed, condimentum ut velit. Ut sit amet volutpat dolor. Suspendisse vel augue eros. Morbi eleifend justo nec dui ultrices, vitae condimentum neque facilisis. Fusce volutpat libero eu orci tincidunt commodo. Pellentesque malesuada tempor fringilla.
                <br>
                Proin augue libero, ornare sit amet augue non, mattis egestas diam. Nunc ornare orci vel varius vulputate. Vestibulum eget dui non nisl gravida malesuada. Ut in viverra mauris, eu fringilla dui. Nulla sit amet condimentum eros. Cras varius pretium aliquam. Praesent venenatis laoreet suscipit. Fusce at aliquet massa.
                <br>
                Nunc nec justo et dui tempor gravida sed blandit leo. In pharetra neque rhoncus arcu consectetur, in luctus nisl semper. Aliquam molestie maximus aliquam. Sed eget enim ultricies, finibus nibh quis, placerat magna. Sed nec sapien quis dui mattis porta eu quis libero. Ut pellentesque tincidunt molestie. Proin ultrices sed lectus at rutrum. Suspendisse sagittis dui at euismod laoreet. Sed lacinia lacinia est eget tristique.
                <br>
                Suspendisse potenti. Nullam blandit interdum nunc sit amet viverra. Vivamus lorem magna, accumsan a lorem ut, maximus viverra justo. Nunc consequat velit ut magna aliquam efficitur. Nullam ac laoreet eros. Fusce dapibus metus elit, et sagittis lorem imperdiet nec. Nulla sed ante nec lorem congue viverra. Curabitur faucibus fermentum ullamcorper. Etiam consectetur massa in est egestas pellentesque.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
