.container{
    max-width: var(--width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container__fluid{

}


.row{
    margin-left: calc(var(--gap-columns) * -1);
    margin-right: calc(var(--gap-columns) * -1);
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

.col{
    float: left;
    padding: 0 var(--gap-columns);
    box-sizing: border-box;
}

.col__2{
    width: calc(100% / 12 * 2);
}
.col__3{
    width: calc(100% / 12 * 3);
}
.col__4{
    width: calc(100% / 12 * 4);
}
.col__5{
    width: calc(100% / 12 * 5);
}
.col__6{
    width: calc(100% / 12 * 6);
}
.col__7{
    width: calc(100% / 12 * 7);
}
.col__8{
    width: calc(100% / 12 * 8);
}
.col__9{
    width: calc(100% / 12 * 9);
}
.col__10{
    width: calc(100% / 12 * 10);
}
.col__11{
    width: calc(100% / 12 * 11);
}
.col__12{
    width: calc(100% / 12 * 12);
}
