{% extends "base.html" %}

{% block title %}Tablero{% endblock %}

{% block content %}
<!-- Registers -->
<div class="row" style="margin-top: 24px;">
    <div class="col col__12">
        <div class="card">
            <div class="card__header">
                <h2 class="card__title">Registros</h2>
            </div>
            <div class="card__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Scraper</th>
                            <th>Hora</th>
                            <th>Cantidad de elementos</th>
                            <th>Peticiones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                        <tr>
                            <td>https://cornerchop.com/46689</td>
                            <td>10:52:00</td>
                            <td>146</td>
                            <td>452</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
