<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=080221_2">
</head>
<body>
    <div id="app">
        <div class="app__left">
            <nav class="main">
                <ul class="main__menu">
                    <li class="main__list main__list--active"><a href="#"><i class="fas fa-home"></i>Inicio</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Registros</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Objetivos</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Scrapers</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Programación</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Registros</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Facturas</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Pagos</a></li>
                    <li class="main__list"><a href="#"><i class="fas fa-home"></i>Términos de servicio</a></li>
                </ul>
            </nav>
        </div>
        <div class="app__right">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>